*.pyc
.stestr/
.tox/*
dist/*
build/*
html/*
*.egg*
cover/*
.coverage
rdserver.txt
python-troveclient.iml
AUTHORS
ChangeLog

# Files created by releasenotes build
releasenotes/build
/doc/build/
/doc/source/reference/api/
