# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes==0.7.2
flake8==2.0
hacking>=0.5.3,<0.6

discover
sphinx>=1.1.2
testrepository>=0.0.13
testtools>=0.9.29
# This used to be but openstack/requirements is set to [below].
# If this breaks we 1) fix tests to use [below] or
# 2) petition to use mock>=1.0.1
mock>=0.8.0
